<div class="container mt-3 mb-3 justify-content-between">
    <div class="d-flex flex-wrap justify-content-between">
      <div >
        <h1>Products</h1>
      </div>
      <div>
        <button class="btn btn-primary" (click)="goToCart()">View Cart ({{cartSize}})</button>
      </div>
    </div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <!-- <th scope="col">Id</th> -->
        <th scope="col">Name</th>
        <th scope="col">Availability</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products;let i=index">
        <!-- <td scope="row">{{product.id+1}}</td> -->
        <td>{{product.name}}</td>
        <td>{{product.availability}}</td>
        <td>{{product.description}}</td>
        <td><a (click)="addToCart(i, product.name)"><h6>Add</h6></a></td>
      </tr>
    </tbody>
  </table>
  </div>