<div class="container" >
  <h1 class="mb-3">Employee Form</h1>
  <div class="card">
    <div class="card-header">Information</div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="d-flex flex-column">
          <div class="d-flex flex-wrap mb-3 justify-content-between">
            <div>
              <label for="emp_id">Employee id:</label>
            </div>
            <div class="inputDiv">
              <input 
              class="form-control" 
              type="text" 
              name="emp_id" 
              id="emp_id" ngModel required #emp_id="ngModel" [(ngModel)]="employee.emp_id" />
              <span class="form-text" *ngIf="emp_id.invalid && emp_id.touched">This field is required</span>
            </div>
          </div>

          <div class="d-flex flex-wrap mb-3 justify-content-between">
            <div >
              <label for="name">Name:</label>
            </div>
            <div class="inputDiv">
              <input 
              class="form-control" 
              type="text" 
              name="name" 
              id="name" ngModel required #name="ngModel" [(ngModel)]="employee.name">
              <span class="form-text" *ngIf="name.invalid && name.touched">This field is required</span>
            </div>
          </div>

          <div class="d-flex flex-wrap mb-3 justify-content-between">
            <div >
              <label for="team">Team:</label>
            </div>
            <div class="inputDiv">
              <input 
              class="form-control" 
              type="text" 
              name="team" 
              id="team" ngModel required #team="ngModel" [(ngModel)]="employee.team">
              <span class="form-text" *ngIf="team.invalid && team.touched">This field is required</span>
            </div>
          </div>

          <div class="d-flex flex-wrap mb-3 justify-content-between">
            <div >
              <label for="designation">Designation:</label>
            </div>
            <div class="inputDiv">
              <select 
              name="designation" 
              id="designation" 
              class="form-select" ngModel required #designation="ngModel" [(ngModel)]="employee.designation">
                <option value="Tester">Tester</option>
                <option value="Developer">Developer</option>
              </select>
              <span class="form-text" *ngIf="designation.invalid && designation.touched">This field is required</span>
            </div>
          </div>

          <div class="d-flex flex-wrap mb-3">
            <div class="me-auto">
              <label for="gender">Gender:</label>
            </div>
            <div class=" inputDiv2 d-flex flex-row">
              <div class="me-5 radio" *ngFor="let gender of genders"> 
                <label>
                    <input 
                    type="radio" 
                    name="gender" 
                    class="form-check-input" ngModel [value]="gender" required [(ngModel)]="employee.gender"> {{ gender }} 
                </label>
              </div>
            </div>
          </div>

          <div class="d-flex flex-wrap mb-3 justify-content-between">
            <div >
              <label for="doj">Joining Date:</label>
            </div>
            <div class="inputDiv">
              <input 
              type="text" 
              placeholder="DD/MM/YYYY" 
              id="doj" name="doj" 
              class="form-control" 
              bsDatepicker 
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', isAnimated: true, adaptivePosition: true }" 
              ngModel required #doj="ngModel"
              [(ngModel)]="employee.doj">
              <span class="form-text" *ngIf="doj.invalid && doj.touched">This field is required</span>
            </div>
          </div>

        </div>
        <button class="btn btn-primary float-end" [disabled]="!myForm.valid">Submit</button>

      </form>
    </div>
  </div>
</div>
